.Blog ul {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

.Blog li {
  display: inline-block;
  margin: 20px;
}

.Blog a {
  text-decoration: none;
  color: #000;
}

.Blog a:hover,
.Blog a:active,
.Blog a.active {
  color: #1947d0;
}
